version: "3.9"

services:
  nfe:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PORT: 9051
    ports:
      - "9051:9051"
    env_file: .env
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nfe_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
